<% @page_title = @theaters.store_name %>

<h1><%= @page_title %></h1>

<table class = "attr">
  <tr>
    <th>住所</th>
    <td><%= @theaters.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @theaters.tel %></td>
  </tr>
</table>
