<% @page_title = "劇場作品" %>

<% if @theaters.present? %>
  <table class = "list">
    <thead>
      <tr>
        <th>作品名</th>
        <th>上映時間</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |m| %>
        <tr>
          <% movie = Movie.find(m.movie_id) %>
          <td><%= link_to movie.title, "#" %></td>
          <td><%= movie.screening_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>作品情報がありません。</p>
<% end %>
