<% @page_title = "新規会員登録" %>

<h1><%= @page_title %></h1>

<%= form_for @member,url: account_path do |form| %>
  <%= render "shared/member_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
